In [11]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

series = pd.Series([4, 8, 15, 16, 23, 42])

series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame, then print it.

In [6]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (numeric, string, boolean, etc.). It is similar to a table or a spreadsheet, where data is organized in rows and columns. Each column in a DataFrame represents a variable or a feature, and each row represents an observation or a data point.

On the other hand, a Series is a one-dimensional labeled data structure in Pandas. It can be thought of as a single column of data, similar to an array or a list. Each element in a Series has an associated index label.

In [7]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
age_series = df['Age']
print(age_series)

0    25
1    30
2    27
Name: Age, dtype: int64

To summarize, a DataFrame is a tabular data structure with multiple columns, where each column is a Series. A Series is a one-dimensional labeled array-like object, representing a single column of data.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the structure and contents of a DataFrame.

info(): This function provides a summary of the DataFrame, including the column names, data types, and memory usage. It is helpful for understanding the overall structure and properties of the DataFrame.

describe(): This function generates descriptive statistics of numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It gives you a quick overview of the distribution and basic statistics of the data.

shape: This attribute returns the dimensions (number of rows and columns) of the DataFrame. It is useful to check the size of the DataFrame.

In [9]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

df
df.head()
df.tail()
df.info()
df.describe()
df.shape

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

(3, 3)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable, meaning they can be modified after creation. On the other hand, Panel is not mutable.

Series: A Series is a one-dimensional labeled array-like data structure, and individual elements within a Series can be modified by assigning new values or using built-in methods to modify the data.

DataFrame: A DataFrame is a two-dimensional labeled data structure with columns and rows. It allows modification of individual cells, addition or removal of columns, and updating values based on conditions. DataFrame provides various methods and functions to manipulate and modify the data.

Panel: A Panel is a three-dimensional data structure in Pandas, which is essentially a container of multiple DataFrames. However, the Panel is considered deprecated in recent versions of Pandas, and the recommended approach is to use multi-index DataFrames or other data structures. Unlike Series and DataFrame, the Panel is not mutable, meaning it cannot be modified after creation.

In summary, Series and DataFrame are mutable, while Panel is not.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
import pandas as pd

# Create Series objects
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create DataFrame using Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female