In [15]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Q1. List any five functions of the pandas library with execution.

In [2]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

df
df.head()
df.tail()
df.info()
df.describe()
df.shape

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

(3, 3)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [3]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, stop=2 * len(df) + 1, step=2)
    new_df = df.set_index(new_index)
    return new_df

# Example usage
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
print("Original DataFrame:")
print(df)

new_df = reindex_dataframe(df)
print("\nDataFrame with Re-indexed Rows:")
print(new_df)

Original DataFrame:
    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

DataFrame with Re-indexed Rows:
    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [4]:
import pandas as pd

def calculate_sum_of_first_three_values(df):
    values_sum = 0
    count = 0
    for value in df['Values']:
        values_sum += value
        count += 1
        if count == 3:
            break
    print("Sum of the first three values:", values_sum)

# Example usage
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print("DataFrame:")
print(df)

calculate_sum_of_first_three_values(df)

DataFrame:
   Values
0      10
1      20
2      30
3      40
4      50
Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [5]:
import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Example usage
df = pd.DataFrame({'Text': ['This is a sample text', 'Another text example', 'One more text']})
print("Original DataFrame:")
print(df)

df = add_word_count_column(df)
print("\nDataFrame with Word_Count column:")
print(df)

Original DataFrame:
                    Text
0  This is a sample text
1   Another text example
2          One more text

DataFrame with Word_Count column:
                    Text  Word_Count
0  This is a sample text           5
1   Another text example           3
2          One more text           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size(): This function returns the total number of elements in the DataFrame, which is calculated by multiplying the number of rows by the number of columns.

DataFrame.shape(): This function returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and columns.

In [6]:
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

# Using DataFrame.size()
size = df.size
print("\nDataFrame.size():", size)

# Using DataFrame.shape()
shape = df.shape
print("DataFrame.shape():", shape)

DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

DataFrame.size(): 9
DataFrame.shape(): (3, 3)

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

# Read an Excel file and create a DataFrame
df = pd.read_excel('data.xlsx')
print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [8]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

# Example usage
df = pd.DataFrame({'Email': ['john@example.com', 'jane@example.com', 'jack@example.com']})
print("Original DataFrame:")
print(df)

df = extract_username(df)
print("\nDataFrame with Username column:")
print(df)

Original DataFrame:
              Email
0  john@example.com
1  jane@example.com
2  jack@example.com

DataFrame with Username column:
              Email Username
0  john@example.com     john
1  jane@example.com     jane
2  jack@example.com     jack

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [9]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
print("Original DataFrame:")
print(df)

selected_df = select_rows(df)
print("\nSelected Rows DataFrame:")
print(selected_df)

Original DataFrame:
   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

Selected Rows DataFrame:
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [10]:
import pandas as pd

def calculate_stats(df):
    values = df['Values']
    mean = values.mean()
    median = values.median()
    std_dev = values.std()
    return mean, median, std_dev

# Example usage
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print("DataFrame:")
print(df)

mean, median, std_dev = calculate_stats(df)
print("\nMean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

DataFrame:
   Values
0      10
1      20
2      30
3      40
4      50

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [11]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example usage
df = pd.DataFrame({'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                   'Date': pd.date_range(start='2023-01-01', periods=10)})
print("Original DataFrame:")
print(df)

df = calculate_moving_average(df)
print("\nDataFrame with MovingAverage column:")
print(df)

Original DataFrame:
   Sales       Date
0     10 2023-01-01
1     20 2023-01-02
2     30 2023-01-03
3     40 2023-01-04
4     50 2023-01-05
5     60 2023-01-06
6     70 2023-01-07
7     80 2023-01-08
8     90 2023-01-09
9    100 2023-01-10

DataFrame with MovingAverage column:
   Sales       Date  MovingAverage
0     10 2023-01-01           10.0
1     20 2023-01-02           15.0
2     30 2023-01-03           20.0
3     40 2023-01-04           25.0
4     50 2023-01-05           30.0
5     60 2023-01-06           35.0
6     70 2023-01-07           40.0
7     80 2023-01-08           50.0
8     90 2023-01-09           60.0
9    100 2023-01-10           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [12]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Example usage
df = pd.DataFrame({'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'])})
print("Original DataFrame:")
print(df)

df = add_weekday_column(df)
print("\nDataFrame with Weekday column:")
print(df)

Original DataFrame:
        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

DataFrame with Weekday column:
        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [13]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    selected_rows = df[df['Date'].between(start_date, end_date)]
    return selected_rows

# Example usage
df = pd.DataFrame({'Date': pd.to_datetime(['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10'])})
print("Original DataFrame:")
print(df)

selected_rows = select_rows_between_dates(df)
print("\nSelected Rows between '2023-01-01' and '2023-01-31':")
print(selected_rows)

Original DataFrame:
        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31
3 2023-02-10

Selected Rows between '2023-01-01' and '2023-01-31':
        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself. In most cases, pandas is imported using the common alias pd for convenience.

In [14]:
import pandas as pd