In [12]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [17]:
x1 = "Samrat"
type(x1)

str

In [18]:
x2 = [1, 2.34, 3+4j, 'Samrat', True]
type(x2)

list

In [19]:
x3 = 6.14
type(x3)

float

In [21]:
x4 = (1, 2.34, 3+4j, 'Samrat', True)
type(x4)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [22]:
var1 = ''
type(var1)

str

In [23]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [24]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [25]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [26]:
x = 10
y = 3
result = x / y

result

3.3333333333333335

In [27]:
x = 10
y = 3
result = x % y

result

1

In [28]:
x = 10
y = 3
result = x // y

result

3

In [29]:
x = 2
y = 3
result = x ** y

result

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [32]:
my_list = [10, 'Hello', 3.14, True, [1, 2, 3], 'Python', (4, 5, 6), {'name': 'John', 'age': 30}, None, 5 + 2j, {7, 8, 9}]

for element in my_list:
    print(f"Element: {element} | Data Type: {type(element)}")

Element: 10 | Data Type: <class 'int'>
Element: Hello | Data Type: <class 'str'>
Element: 3.14 | Data Type: <class 'float'>
Element: True | Data Type: <class 'bool'>
Element: [1, 2, 3] | Data Type: <class 'list'>
Element: Python | Data Type: <class 'str'>
Element: (4, 5, 6) | Data Type: <class 'tuple'>
Element: {'name': 'John', 'age': 30} | Data Type: <class 'dict'>
Element: None | Data Type: <class 'NoneType'>
Element: (5+2j) | Data Type: <class 'complex'>
Element: {8, 9, 7} | Data Type: <class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [39]:
A = 48
B = 3
count = 0

while A % B == 0:
    print(f"A: {A}, B: {B}")
    A = A / B
    count += 1

print(f"A is divisible by B {count} times.")

A: 48, B: 3
A is divisible by B 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [40]:
my_list = [10, 12, 15, 7, 9, 21, 30, 18, 4, 25, 33, 6, 27, 14, 22, 36, 19, 8, 13, 16, 20, 24, 28, 32, 11]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

10 is not divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
7 is not divisible by 3.
9 is divisible by 3.
21 is divisible by 3.
30 is divisible by 3.
18 is divisible by 3.
4 is not divisible by 3.
25 is not divisible by 3.
33 is divisible by 3.
6 is divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
22 is not divisible by 3.
36 is divisible by 3.
19 is not divisible by 3.
8 is not divisible by 3.
13 is not divisible by 3.
16 is not divisible by 3.
20 is not divisible by 3.
24 is divisible by 3.
28 is not divisible by 3.
32 is not divisible by 3.
11 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [41]:
# Immutable data types:
# Immutable objects cannot be modified once they are created.
# Any operation that appears to modify an immutable object actually creates a new object with the modified value.

# Integer (int): e.g., x = 5
# Float (float): e.g., y = 3.14
# String (str): e.g., name = "John"
# Tuple (tuple): e.g., coordinates = (10, 20)

x = 5
x += 1
print(x)  # Output: 6 (x is a new object with the modified value)

name = "John"
name += " Doe"
print(name)  # Output: "John Doe" (name is a new object with the modified value)

coordinates = (10, 20)
# coordinates[0] = 5  # This will raise an error as tuples are immutable

6
John Doe

In [42]:
# Mutable data types:
# Mutable objects can be modified after they are created.
# Operations on mutable objects directly modify the object without creating a new one.

# List (list): e.g., numbers = [1, 2, 3]
# Dictionary (dict): e.g., person = {"name": "John", "age": 30}
# Set (set): e.g., fruits = {"apple", "banana", "orange"}

numbers = [1, 2, 3]
numbers.append(4)
print(numbers)  # Output: [1, 2, 3, 4] (numbers is modified directly)

person = {"name": "John", "age": 30}
person["age"] = 31
print(person)  # Output: {"name": "John", "age": 31} (person is modified directly)

fruits = {"apple", "banana", "orange"}
fruits.add("grape")
print(fruits)  # Output: {"apple", "banana", "orange", "grape"} (fruits is modified directly)

[1, 2, 3, 4]
{'name': 'John', 'age': 31}
{'grape', 'apple', 'orange', 'banana'}